/* app-idle-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}  */

.idle app-idle-screen {
    display: block !important;
}

app-idle-screen {
    display: none;
}

app-idle-screen img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    object-position: center;
}