/* app-idle-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}  */

.bubble-chat {
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: flex;
    align-items: center;
    justify-content: center;

    left: 156px;
    top: 266px;

    position: absolute;
    z-index: 1;
}

#video {
    width: 1600px;
    height: 900px;
    
    position: absolute;
    top: 90px;
    right: 70px;

    border-radius: 60px;
    border: 20px solid #FFF;
}