app-detect-page .cameraContainer {
    position: absolute;
    overflow: hidden;

    border-radius: 100px;
    border: 9px solid #000;
    
    top: 232px;
    left: 1130px;

    width: 1193px;
    height: 622px;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

app-detect-page .cameraContainer video {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 1200px;
    height: 630px;
    
    transform: translate(-50%, -50%) !important;
    object-fit: cover;
}

.bubble-chat {
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 213px;
    width: 695px;
    top: 93px;
    height: 218px;
    z-index: 1;
}