.bubble-chat {
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40%;
    left: 30%;
    height: 285px;

    position: absolute;
    top: 80px;
    z-index: 1;
}